
html, body {
    margin: 0;
    padding: 0;

    font-size: 16pt;
    font-family: "Helvetica Neue", "Helvetica", "Segoe UI", "Arial", sans-serif;
}

body {
    background: #ccc;
}

.homo-list {
    overflow: auto;
}
.homo-list tr {
    white-space: nowrap;
}

.slider-trough {
    position: relative;
    height: 10px;
    background: #666;
}

.slider-knob {  
    position: absolute;
    top: 0; left: 0;

    height: 20px;
    width: 10px;
    margin-top: -5px;
    margin-left: -5px;
    background: #aaa;
}
.slider-knob:hover {
    background: #eee;
    box-shadow: 0px 2px black;
}
.slider-knob.sliding {
    background: #fff;
    box-shadow: 0px 2px black;
}

.song-list {
    position: absolute;
    top: 64px;
    bottom: 64px;
    left: 0;
    right: 0;
}
.song-list table {
    width: 100%;
    border-collapse: collapse;
}
.song-display, .song-display td {
    height: 30px;
}
.song-display {
    background: #c0c0c0;
    cursor: pointer;
}
.song-display:nth-child(odd) {
    background: #ccc;
}
.song-display.active {
    background: #ffb300;
    cursor: default;
}

.song-display .song-display-playing-icon {
    padding: 0;
    text-align: center;
    width: 36px;
}
.song-display:hover .song-display-playing-icon,
.song-display.active .song-display-playing-icon {
    background: url(icon_song-display-playing-indicator.svg) center center no-repeat;
}
.song-display .song-display-track {
    color: rgba(0, 0, 0, 0.4);
    width: 2em;
    text-align: right;
}
.song-display .song-display-title {
    text-align: left;
}
.song-display td {
    padding: 16px .5em;
}

.context-switchers {
    overflow: auto;
    background: #333;
    height: 64px;
    line-height: 64px;
}
.context-switcher {
    float: left;
    padding: 0 6px;
    cursor: pointer;
    color: #aaa;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.context-switcher.active {
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 2px black;
}

.playback-controls {
    background: #333;
    overflow: auto;
    height: 64px;
    line-height: 64px;

    display: flex;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0; right: 0;
}

.playback-controls .playback-slider {
    flex: 1;
    padding: 0 16px;
}

.playback-control {
    cursor: pointer;
    width: 48px;
    height: 48px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.playback-control.play {
    background: url('icon_playback-control-play-up.svg') no-repeat;
}
.playback-control.play:hover {
    background: url('icon_playback-control-play-hover.svg') no-repeat;
}
.playback-control.pause {
    background: url('icon_playback-control-pause-up.svg') no-repeat;
}
.playback-control.pause:hover {
    background: url('icon_playback-control-pause-hover.svg') no-repeat;
}
.playback-control.prev {
    background: url('icon_playback-control-prev-up.svg') no-repeat;
}
.playback-control.prev:hover {
    background: url('icon_playback-control-prev-hover.svg') no-repeat;
}
.playback-control.next {
    background: url('icon_playback-control-next-up.svg') no-repeat;
}
.playback-control.next:hover {
    background: url('icon_playback-control-next-hover.svg') no-repeat;
}

.times {
    display: flex;
    color: #666;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.time-display {
    padding: 0 8px;
}
.time-display-layout-time {
    margin-top: -120%;
    visibility: hidden;
}

.time-display.playback-time {
    color: #666;
}
.time-display.duration-time {
    color: #aaa;
}

.volume-control {
    width: 64px;
}

.volume-control-inside {
    width: 64px;
    height: 32px;
    overflow: hidden;
    background: #aaa;
    clip-path: url(icon_volume-control-mask.svg#mask);
}

.volume-control-fill {
    background: #fff;
    width: 64px;
    height: 32px;
}
