
html, body {
    margin: 0;
    padding: 0;

    font: 16pt "Helvetica Neue";
}

body {
    background: #ccc;
}

.main-view {
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.main-content {
    flex: 1;
}
.main-footer {}

.homo-list {
    overflow: auto;
}

.slider-trough {
    position: relative;
    height: 10px;
    background: #666;
}

.slider-knob {  
    position: absolute;
    top: 0; left: 0;

    height: 20px;
    width: 10px;
    margin-top: -5px;
    margin-left: -5px;
    background: #aaa;
}
.slider-knob:hover {
    background: #eee;
    box-shadow: 0px 2px black;
}
.slider-knob.sliding {
    background: #fff;
    box-shadow: 0px 2px black;
}

.song-list table {
    width: 100%;
    border-collapse: collapse;
}
.song-display, .song-display td {
    height: 30px;
}
.song-display {
    background: #c0c0c0;
    cursor: pointer;
}
.song-display:nth-child(odd) {
    background: #ccc;
}
.song-display.active {
    background: #ffb300;
    cursor: default;
}

.song-display .song-display-playing-icon {
    color: transparent;
    padding: 0;
    text-align: center;
    width: 1.5em;
}
.song-display:hover .song-display-playing-icon,
.song-display.active .song-display-playing-icon {
    color: rgba(0, 0, 0, 0.2);
}
.song-display .song-display-track {
    color: rgba(0, 0, 0, 0.4);
    width: 2em;
    text-align: right;
}
.song-display .song-display-title {
    text-align: left;
}
.song-display td {
    padding: 16px .5em;
}

.context-switchers {
    overflow: auto;
    background: #333;
    padding: 10px;
}
.context-switcher {
    float: left;
    padding: 0 6px;
    cursor: pointer;
    color: #aaa;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.context-switcher.active {
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 2px black;
}

.playback-controls {
    background: #333;
    overflow: auto;
    height: 64px;
    line-height: 64px;

    display: flex;
    align-items: center;
}

.playback-controls .playback-slider {
    flex: 1;
    padding: 0 16px;
}

.playback-control {
    padding: 0 8px;
    cursor: pointer;
    color: #aaa;
    margin-top: -4px;
    font-size: 24pt;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.playback-control:hover {
    color: #fff;
    text-shadow: 0px 2px black;
}

.times {
    display: flex;
    color: #666;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.time-display {
    padding: 0 8px;
}
.time-display-layout-time {
    margin-top: -120%;
    visibility: hidden;
}

.time-display.playback-time {
    color: #666;
}
.time-display.duration-time {
    color: #aaa;
}
